@import "tailwindcss";
*{
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
.big{
  font-family: "Big Shoulders", sans-serif;

  font-style: normal;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  min-width: 100%;
  animation: marquee 20s linear infinite;
}

.animate-marquee2 {
  display: inline-block;
  min-width: 100%;
  animation: marquee 20s linear infinite;
  animation-delay: 10s; /* offsets second loop */
}

